@import url('https://fonts.googleapis.com/css2?family=Intro%20Rust%20G%20Base%202%20Line&family=Footlight%20MT%20Light&display=swap');
:root {
    --primary-color: #B90F1D;
    --secondary-color: #909295;
    --accent1-color: #000000;
    --accent2-color: #423E28;

    --heading-font: "Intro Rust G Base 2 Line";
    --paragraph-font: "Footlight MT Light";
}

html {
    font-size: 100%;
    font-family:'Times New Roman', Times, serif;
}

header {
    background-color: #B90F1D;
    padding: 20px;	margin: 1rem auto;
	display: flex;
	grid-template-columns: 120px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img {
    background-color: #909295;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}

nav {
    position: relative;
    display: flex;
    padding: 5px 5px 5px 275px;
    margin: 2px 2px 2px 2px;
}

h1 {
    position: absolute;
    display: flex;
    top: 50px;
    color: #B90F1D;
    padding: 10px 10px 10px 275px;
    margin: 3px;
}

h2 {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 12;

}

h3 {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 12;
    margin: 3px;
}

.box {
    width: auto;
    height: auto;
    color: #B90F1D;
    background-color: #909295;
    display: flex;
}

.hero {
    margin: 10px auto;
    position: relative;
}
.hero img {
    width: 100%;
    height:auto;
    object-fit: cover;
}

article {
    position: absolute;
}
.hero article img {

    float: right;
    position: relative;
    bottom: 500px;
    width: 30%;
    opacity: 1;
    padding: 10px 20px 10px 10px;
    background: 10px 20px 10px 10px;
}
article p {
    position: relative;
    bottom: 500px;
    background-color: #eee;
    width: 65%;
    opacity:.5;
    padding: 20px 20px 20px 20px;
    margin: auto;
}

section {
    position: relative;
    background-color: #eee;
    width: 100%;
    opacity:1;
    padding: 5px 5px 5px 5px;
}

section p {
    position: relative;
    background-color: #eee;
    width: 65%;
    opacity:.5;
    padding: 5px 5px 5px 5px;
}

.sociallinks {
    align-items:flex-end;
    justify-content: flex-end;
}
.sociallinks img {
    width:50px
}

footer {
    background-color: #B90F1D;
}

footer p {
    position: absolute;
    display: flex;
    padding: 10px 10px 10px 275px;
}

.p-align-center {
    text-align: center;
    width: auto;
}

.employee {
    position: relative;
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: space-around;
}

.package {
    justify-content: space-around;
}

.p-spacing {
    position: relative;
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: space-around;
}

.wireframe {
    display: flex;
    padding: 10px 10px 10px 10px;
}